.box{
    background-color: rgb(135, 181, 249);
    width: 100%;
}
@media (max-width: 800px) {
    .box {
      background-color: rgb(81, 81, 255);
      width: 80%;
      margin:auto;
    }
  }
@media (min-width: 1200px){
  .box {
    background-color: rgb(81, 255, 133);
    width: 50%;
    
  }
}